<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Sing in</title>
<link href="css/my_css.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/singin_form.css" rel="stylesheet" type="text/css">
  <style>
   @font-face {
    font-family: DigitalStrip;
    src: url(../fonts/v_DigitalStrip_v1.5.ttf);
   }
  </style>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1><a href="/" class="my_ref my_font_for_gamename first">Joking&nbsp;</a></h1>
    </div>
    <div class="col-lg-6">
      <h1><a href="/" class="my_ref my_font_for_gamename second">Hazard</a></h1>
    &nbsp;</div> 
  &nbsp;</div>
</div>
<div class="container my_btn_image">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-6">
      <div id="singin_form" >
          <div class="js-login" hidden="hidden">
          </div>
          <div class="js-chat" hidden="hidden">
          </div>
          <div class="js-reg" hidden="hidden">
          </div>
          <script src="../components/button/button.js"></script>
          <script src="../components/form/form.js"></script>
          <script src="form2.js"></script>
          <script src="form1.js"></script>

      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <div class="row"><img src="../images/add_your_data.png" alt="Placeholder image" class="img-responsive my_img_sing_in"></div>
</div>
  </div>
<!--
	{% block content %}
	{% endblock %}
-->
</div>
<!-- HEADER --><!-- / HEADER --> 

<!--  SECTION-1 -->
<!-- FOOTER -->

<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © MyWebsite. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- / FOOTER --> 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery-1.11.3.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.js"></script>
</body>
<!--
{% endblock %}
-->
</html>
